---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav";
import sanitizeHtml from "sanitize-html";
import { About, Projects, Welcome, Toolkit } from "../components/Header/Components";
import data from "../data/aboutme";
import tools from "../data/tools";
let { description, funfacts, linkedIn_link, github_link, email_link } = data;
const sanitizedDesc = sanitizeHtml(description);
---

<Layout title="Aline's Portfolio">
	<Nav client:idle />
	<main>
		<Welcome />
		<About />
		<section class="about-grid">
			<img src="./profile.png" alt="Aline Emily" />
			<article class="headline main-info">
				<p set:html={sanitizedDesc} />
				<hr />
				<strong>Find me at...</strong>
				<section class="links">
					<a href={linkedIn_link} target="_blank" rel="noopener noreferrer">
						Linkedin
					</a>
					<a href={github_link} target="_blank" rel="noopener noreferrer">
						Github
					</a>
					<a href={email_link} target="_blank" rel="noopener noreferrer">
						E-mail
					</a>
				</section>
			</article>

			{
				funfacts.map((fact) => (
					<article class="headline funfacts">
						<p>{fact}</p>
					</article>
				))
			}
		</section>
		<Toolkit />
		<article class="headline">
			<section class="tech-grid">
				{
					tools.map((tool) => (
						<article>
							<img src={tool.src} />
							<abbr title={tool.abbr}>{tool.text}</abbr>
						</article>
					))
				}
			</section>
		</article>

		<Projects />
		<section role="list" class="link-card-grid">
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</section>
	</main>
</Layout>

<style>
	main {
		grid-area: content;
		padding: 1.5rem;
		z-index: 3;
	}

	@media screen and (max-width: 400px) {
		main {
			grid-area: content;
			padding: 1rem;
		}
	}

	.headline {
		line-height: 1.6;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		margin: 1rem auto;
		box-shadow: var(--shadow-elevation-low);
	}

	.headline strong {
		color: var(--accent);
	}

	.headline p {
		margin: 0;
	}

	.about-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
		gap: 0 1rem;
		padding: 0;
	}

	.main-info {
		grid-column: span 2;
	}

	.about-grid img {
		max-width: 100%;
	}

	section.tech-grid,
	.about-grid .links {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 1.2rem 1rem;
	}

	.about-grid .links {
		margin-block-start: 0.5rem;
	}

	.tech-grid * {
		flex: none;
	}

	abbr {
		text-decoration: none;
	}

	.tech-grid > article {
		display: grid;
		gap: 10px;
		overflow: hidden;
		grid-template-columns: 35px auto;
		align-items: center;
	}

	section.tech-grid img {
		max-width: 40px;
	}

	@media screen and (max-width: 1023px) {
		.about-grid {
			grid-template-columns: 1fr 1fr;
		}
		.about-grid img {
			align-self: center;
			justify-self: center;
		}

		.main-info {
			grid-column: span 1;
		}

		.funfacts:last-of-type {
			grid-column: span 2;
		}
	}

	@media screen and (max-width: 600px) {
		.about-grid img {
			max-width: 50%;
			grid-column: span 2;
			margin-block: -2rem -1rem;
		}
		.main-info {
			grid-column: span 2;
		}
	}

	@media screen and (max-width: 450px) {
		.about-grid img {
			max-width: 70%;
		}
	}

	@media screen and (max-width: 368px) {
		.about-grid {
			grid-template-columns: 1fr;
		}

		.main-info {
			grid-column: span 1;
		}

		.about-grid img {
			max-width: 80%;
			grid-column: span 1;
		}
		.funfacts:last-of-type {
			grid-column: span 1;
		}
	}
</style>
