---
import sanitizeHtml from "sanitize-html";
import data from "../data/aboutme";
let { description, funfacts, linkedIn_link, github_link, email_name, email_domain } =
	data;
const sanitizedDesc = sanitizeHtml(description);
---

<section class="about-grid">
	<img
		src="./profile.png"
		alt="Aline Emily"
		data-aos="fade-right"
		data-aos-delay="200"
	/>
	<article class="headline main-info" data-aos="fade-left" data-aos-delay="400">
		<p set:html={sanitizedDesc} />
		<hr />
		<strong>Find me at...</strong>
		<section class="links">
			<a href={linkedIn_link} target="_blank" rel="noopener noreferrer">Linkedin</a>
			<a href={github_link} target="_blank" rel="noopener noreferrer">Github</a>
			<a
				href={`mailto:${email_name}@${email_domain}`}
				target="_blank"
				rel="noopener noreferrer"
			>
				E-mail
			</a>
		</section>
	</article>

	{
		funfacts.map((fact, index) => (
			<article
				class="headline funfacts"
				data-aos={`fade-${index === 1 ? "down" : "up"}`}
			>
				<p>{fact}</p>
			</article>
		))
	}
</section>
